{% extends "mnpg/layout.html" %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="title-arch">
            <h2 class="font-weight-bold text-uppercase">Hi! I'm
                Slava Spetsyian
            </h2>
            <span>
                Applied Programming: Python | Deployment: Nginx, Gunicorn |
                Web Development: Django, Flask, Python, HTML, CSS, jQuery, Bootstrap
            </span>
            <h4 class="mt-5">
                <a href="https://github.com/Saequus">GitHub</a> |
                <a href="https://www.linkedin.com/in/spetsyian/">LinkedIn</a> |
                <a href="https://leetcode.com/slava_spetsyian/">LeetCode</a> |
                <a href="https://medium.com/saequus">Medium Blog</a>
            </h4>



            <h4 class="mt-5 text-muted font-weight-light text-uppercase">
                Currently I am working hard to become a professional Full-Stack Developer.
                My ambitions lie further then simply writing a good code to get good money.<br><br>

                I want to help people get things that improve their lives and make commercially successful products.
            </h4>
            <hr />
            <div class="d-flex flex-row flex-wrap">
                <div class="col-sm-5">
                    <img style="max-width: 100%;" class="mt-5" src="{% static '/avatar.jpg' %}" alt="Slava Spetsyian Avatar">
                </div>
                <div class="col-sm-7">
                    <h4 class="mt-5 text-muted font-weight-light text-uppercase">
                    <br>
                        First I got to know about computers and robotics in my home country Belarus when I was 8;<br><br>
                    </h4>
                    <h4 class="mt-5 text-muted font-weight-light text-uppercase">
                    nevertheless, my pure interest hadn't grown in anything bigger
                    then a mere knowledge absorbed from friends and colleagues.<br><br>
                    </h4>
                    <h4 class="mt-5 text-muted font-weight-light text-uppercase">
                    Studying in the international environment in Poland I realized all power behind programming; <br><br>
                    </h4>
                    <h4 class="mt-5 text-muted font-weight-light text-uppercase">
                    though, I didn't start learning it properly and confined only to the SQL, CSS, HTML, and simple data analysis.
                    After relocating to Moscow I found myself eager to change professional area to Information Technologies
                    and start career from the scratch.
                    </h4>
                </div>

            </div>
            <hr />
            <h4 class="mt-5 text-muted font-weight-light text-uppercase">
                Now time has come to become a Full-Stack Programmer.<br><br>
                I fully realise all the difficulties which are going to appear on my way.
                I don't afraid to work both more then necessary and harder then a usual learner.<br><br>
                I am sure about what I want and I see the path clearly.<br><br>
                Thank you for reading! Here are the links to profiles:
            </h4>

        </div>

    </div>
{% endblock content %}
