{% extends "mnpg/layout.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="title-arch">
            <h2 class="font-weight-bold text-uppercase">Slava Spetsyian</h2>
            <h4 class="text-muted font-weight-light text-uppercase">Programmer. Growth Hacker. Author</h4>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="project wow animated animated4 fadeInLeft">

                        <div class="project-hover">
                            <h3 class="text-uppercase font-weight-bold">About me</h3>
                            <hr />
                            <h5 class="font-weight-light text-uppercase">
                                Dedicated to work for people<br><br>
                                Born in Belarus. Studied in Poland. Working in Russia.<br><br>
                            </h5>
                            <h5 class="mt-4 text-uppercase font-weight-bold"><a href="{% url 'about' %}">More</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="project project-2 wow animated animated3 fadeInLeft">
                        <div class="project-hover">
                            <h3 class="font-weight-bold">CV</h3>
                            <hr />
                            <h5 class="font-weight-light text-uppercase">Click here to see the Curriculum Vitae / Resume</h5>
                            <h5 class="mt-5 text-uppercase font-weight-bold"><a href="{% url 'cv' %}">See</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="project project-3 wow animated fadeInLeft">
                        <div class="project-hover">
                            <h3 class="text-uppercase font-weight-bold">Saequus Blog</h3>
                            <hr />
                            <h5 class="font-weight-light text-uppercase">Visit the blog with verses and stories</h5>
                            <h5 class="mt-5 text-uppercase font-weight-bold"><a href="http://saequus.com">Visit</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
