<!DOCTYPE html>
<html lang='en'>

  {%- include head.html -%}

  <body>
    <div class='arch-container'>

      <div class='arch arch-home'>
        <h1 class='font-weight-bold text-uppercase name'>Slava Spetsyian</h1>
        <p class='text-muted font-weight-light text-uppercase'>Full Stack Developer. Growth Hacker. Author</p>
        <div class='row'>
          <div class='contact-links font-weight-light orange'>
            <div>
              <p>slava@spetsyian.com</p>
            </div>
            <span class='text-muted mobile-hidden'> &nbsp | &nbsp </span>
            <div>
              <a href='https://t.me/slava_spetsyian'>@slava_spetsyian</a>
            </div>
          </div>
        </div>
      </div>

      <div class='box-row'>
        <div class='box-desc'>
          <h1 class='text-uppercase font-weight-bold'>About me</h1>
          <p class='text-uppercase font-weight-light'>Dedicated to work for people</p>
          <div class='button-cont'>
            <a class='text-uppercase' href='/en/about/'>More</a>
          </div>
        </div>
        <div class='box-desc'>
          <h1 class='text-uppercase font-weight-bold'>CV</h1>
          <p class='font-weight-light text-uppercase'>See the CV / Resume</p>
          <div class='button-cont'>
            <a class='text-uppercase' href='../static/other/Slava_Spetsyian_CV.pdf'>See</a>
          </div>
        </div>
      </div>

      <div class='box-row'>
        <div class='box-desc'>
          <h1 class='text-uppercase font-weight-bold'>Blog</h1>
          <p class='font-weight-light text-uppercase'>Blog in English and Russian</p>
          <div class='button-cont'>
            <a class='text-uppercase' href='/en/blog/'>Visit</a>
          </div>
        </div>

        <div class='box-desc'>
          <div>
            <h1 class='text-uppercase font-weight-bold'>Shared</h1>
            <p class='font-weight-light text-uppercase'>Staff you may find funny or usefull</p>
          </div>
          <div class='button-cont'>
            <a class='text-uppercase' href='https://drive.google.com/drive/u/0/folders/1AzDEjiloqka5BDha16IxJaBQVBU2CYej'>Check</a>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
